<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Attendance</title>
</head>
<body>
    <h1>Please enter the details</h1>
    <form action ="/day", method="post">
        user_name=<input type="text", name="user_name"required><br>
        check_date=<input type="date" , name="check_date"required><br>
                   <input type="submit">

    </form>
    {%if ans%}
        <h1>{{ans}}</h1>
    {%endif%}

<!--    {% if result1 %}-->
<!--        <h1>{{result1}}</h1>-->
<!--    {%endif%}-->
</body>
</html>