<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance Report</title>
<style>
    h1{text-align: center;}
    h2{text-align: center;}
    div{text-align: center;}
</style>
</head>
<body>
    <form>
        <h1>Welcome to Attendance Report and Analytics</h1><br>
        <div>
        <a href="/day">
           <h2>View Student Report on a particular day</h2>
        </a>
        <a href="/week">
           <h2>View Student Report in a particular week</h2>
        </a>
        <a href="/month">
           <h2>View Student Report for a particular month</h2>
        </a>

        </div>
    </form>
</body>
</html>