<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekly Attendance</title>
</head>
<body>
    <form action="", method="post">
        <h2>Please enter the details:</h2>
        <div>
            user_name=<input type="text", name="user_name_week" required><br>
            week_start=<input type="date", name="week_start" required><br>
            week_end=<input type="date", name="week_end" required><br>
            workdays_week=<input type="number", name="workdays_week" required><br>
                           <input type="submit">
        </div>


    </form>
</body>
</html>